*{
    margin: 0;padding: 0;box-sizing: border-box;
}

.custom_height{
    height: 230px;
}

.custom_borders{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.bg_pink{
    background-color: rgba(185, 20, 80, 1);
}

.bg_gray{
   background-color:rgba(128, 128, 128, 1);
}

.input>span{
    color: rgba(185, 20, 80, 1);
}

section span{
    font-weight: bold;
}

section{
    height: 300px;
}

button{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color:rgba(185, 20, 80, 1);
    box-shadow: none;
    font-weight: bold;
}

input{
    border: 1px solid rgba(185, 20, 80, 1);
    border-radius: 4px;
    text-align: center;
}

select{
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(185, 20, 80, 1);
}